* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  border: 0;
}

.header__inner {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
}

.logo {
  color: #fff;
  font-size: 24px;
  white-space: nowrap;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 120px;
  flex-wrap: wrap;
  width: 100%;
}

.nav__bt {
  background-color: rgba(0, 0, 0, 0.5); /* Черный с 50% прозрачностью */
  color: white;
  border: none;
  font-size: 20px;
  padding: 24px 40px;
  border-radius: 50px;
}

.main {
  padding-top: 100px;
}

.catalog__title {
  padding: 24px;
  font-size: 48px;
  color: #fff;
}

.catalog__wrap {
  background: rgb(39, 39, 39);
  padding: 24px;
  border-radius: 16px;
  margin: 0 24px 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 32px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  padding: 16px;
  border-radius: 12px;
  background: rgb(34, 34, 34);
  color: #fff;

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.6);
}

.card__img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 12px;
}

.card__title {
  text-align: center;
  font-size: 16px;
}

.card__footer {
  opacity: 0.9;
}

.footer {
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 20px;
  font-size: medium;
}
